<% layout('layout/boilerplate') %>

<div class="row mt-3">
  <h2 class="text-center">Patner's Registration Form</h2>
  <div class="col-6 offset-3">
    <form
      class="validated-form g-3"
      action="/reg_patner"
      method="post"
      novalidate
    >
      <div class="mb-3">
        <label for="username" class="form-label">User Name:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Your UserName"
          name="Patner[username]"
          id="username"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <label for="password" class="form-label">Password</label>
      <div class="input-group mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="Enter Your Password"
          id="password"
          name="Patner[password]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input
          type="email"
          class="form-control"
          name="Patner[email]"
          placeholder="example@email.com"
          id="email"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="contactNo" class="form-label">Phone Number:</label>
        <input
          type="tel"
          class="form-control"
          name="Patner[contact]"
          placeholder="000 000 000 000"
          id="contactNo"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="col-12">
        <a href="/campgrounds" class="btn btn-warning">Cancel</a>
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </div>
</div>
